
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to NSDC Alpha Project</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">

        <h3 class="text-muted">ONS NSDC Alpha Project</h3>
      </div>
      <div class="jumbotron">
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="add_user" role="button">New User Creation</a></p>
      </div>
    </div>
  </body>
</html>

